.border{
    /* border: 2px solid red; */
    margin: 10px 7px;
    border-radius: 7px;
}
.flex{
    display: flex;
}
.bg-grey{
    background-color: #121212;
}
.p-1{
    padding: 20px;
}
.f-1{
    font-weight: 700;
}
.invert{
    filter: invert(1);
}